@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    background-color: cadetblue;
    color: white;
    padding: 1rem 5rem;
}

.navLogo {
    letter-spacing: 1px;
    font-size: 20px;
}
